* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;

    font-family: 'Roboto';
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}


body {
    /* temp */
}

.top-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 15vw;
    padding-right: 15vw;
    min-width: 100%;

    row-gap: 100px;

    background-color: #1F2937;
}

.nav-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}


.header {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;

}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;

    padding-bottom: 100px;
    background-color: #1F2937;

}

.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-content > .header-text{
    font-size: 48px;
    font-weight: bolder;
}

.left-content > .body-text {
    font-size: 18px;
    color: #F9FAF8;
}

.btn {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-weight: bold;
    align-self: flex-start;
}

.right-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.main-text{
    padding-top: 75px;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.main-text, .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 45px;
    gap: 70px;

    flex-wrap: wrap;
}


.container {
    flex: 0 0 200px;
    text-align: center;
}

.box {
    border: 5px solid #3882F6;
    padding: 90px;
    border-radius: 12px;
}

.text {
    margin-top: 10px;
    color: black;
}

.second-section {
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
    min-width: 100%;
}

.third-section {
    background-color: #E5E7EB;
    padding: 75px 0px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 20vw;
    padding-right: 20vw;
    min-width: 100%;
}

.quote {
    display: flex;
    justify-content: center;
}

.quote > p {
    font-size: 36px;
    color: #1F2937;

    font-weight: lighter;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author > p {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.four-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 15vw;
    padding-right: 15vw;
    min-width: 100%;

    padding: 75px 0px
}

.contact-container{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    align-self: center;
    justify-content: center;

    width: 1000px;
}

.contact-left {
    display: flex;
    flex: 2;
    flex-direction: column;

    padding: 35px 0px 35px 100px;
}

.contact-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    padding: 35px 50px 35px 0px;

}


.contact-header{
    font-weight: bold;
    font-size: 18px;
}

.contact-btn {
    border: 2px solid #fff;
}

.footer-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}